<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Aong Us</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<h1>Among Us</h1>

		<button id="report">
			<img src="/images/report.png" />
		</button>

		<button id="emergency-meeting">
			<img src="/images/emergency-meeting.jpg" />
		</button>

		<p>Progress is <span id="progress">0</span>% complete</p>
		<div class="progress">
			<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%"></div>
		</div>

		<h2>Tasks</h2>
		<ol id="tasks"></ol>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js" integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ==" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		<script src="/game.js"></script>
	</body>
</html>
